.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: "NEXT ART";
  src: url(../fonts/nextart/NEXT\ ART_Bold.otf),
    url(../fonts/nextart/NEXT\ ART_Heavy.otf),
    url(../fonts/nextart/NEXT\ ART_Light.otf),
    url(../fonts/nextart/NEXT\ ART_Regular.otf),
    url(../fonts/nextart/NEXT\ ART_SemiBold.otf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  /* nav */
  text-decoration: none;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 24.55px;
  text-align: left;
  text-decoration: none;
  color: #fdfdfd;
  cursor: pointer;
  text-align: center;
}

p {
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  text-decoration-skip-ink: none;
  color: #18121e;
}

h1 {
  /* first title */
  font-family: "NEXT ART";
  font-size: 50px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration-skip-ink: none;
  color: #fdfdfd;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
  text-align: left;
  text-decoration-skip-ink: none;
}

h3 {
  /* Yellow text on the title */
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-decoration-skip-ink: none;
  color: #f2be22;
}

h4 {
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.012em;
  text-align: left;
  text-decoration-skip-ink: none;
}

h5 {
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  text-decoration-skip-ink: none;
}

button {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.012em;
  text-align: left;
  text-decoration-skip-ink: none;
  border: 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a3e3e;
  color: #fdfdfd;
  cursor: pointer;
  transition-duration: 200ms;
}

button:hover {
  color: #1a3e3e;
  background-color: #fdfdfd;
  border: 1px solid #1a3e3e;
}

.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  /* justify-content: space-between; */
  align-items: center;
}

.titles {
  width: Hug (580px) px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}
