.blogContainer {
  width: 100%;
  height: 1036px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 0;
  align-items: center;
  background-color: #f3f5f4;
}

.blogTitle {
  max-width: 580px;
  width: 100%;
  height: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.blogGrid {
  width: 1180px;
  height: 648px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.blogGridBlock {
  width: 580px;
  height: 312px;
  padding: 16px;
  gap: 24px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transition-duration: 200ms;
  cursor: pointer;
  background-color: #fdfdfd;
}

.blogGridBlock:hover {
  box-shadow: 0 0 15px 0 #18121e1f;
}

.blogGridBlock:hover .h1-blog {
  color: #1a3e3e;
  text-decoration: underline solid;
}

.blogGridBlock img {
  width: 230px;
  height: 280px;
  border-radius: 6px;
  object-fit: cover;
}

.blogGridText {
  max-width: 294px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.blogGridInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.blogButton {
  width: 220px;
  height: 52px;
}

.p-blog {
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-decoration-skip-ink: none;
  color: #18121e;
}

.h1-blog {
  font-family: "Nunito Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  text-decoration-skip-ink: none;
  color: #18121e;
  transition-duration: 200ms;
}

.h3-blog {
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  text-decoration-skip-ink: none;
  color: #f2be22;
}

.blogGridCard__open {
  width: 800px;
  height: 650px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 15px 0px #18121E1F;
  background-color: #fdfdfd;
  flex-wrap: wrap;
  border-radius: 10px;
  padding-top: 20px;
  padding-right: 10px;
}

.blogGridCard__open img {
  width: 400px;
  height: 450px;
  object-fit: cover;
  display: block;
  position: relative;
}

.blogGridCard__open_title {
  width: 320px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h1-blog__open {
  font-family: "Nunito Sans";
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  text-align: left;
  text-decoration-skip-ink: none;
  color: #18121e;
  transition-duration: 200ms;
}

.blogGridCard__open_text {
  width: 90%;
  height: 144px;
  margin-top: 30px;
}

.p-blog__open {
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-decoration-skip-ink: none;
  color: #18121e;
}
